/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    color: #333;
  }
  
  header {
    padding: 35px;
    margin-bottom: 10px;
    background: #ccc;
  }
  
  nav {
    padding: 35px;
    margin-bottom: 20px;
    background: #ccc;
  }
  
 
  section {
    height: 400px;
    background: green;
    width: 65%;
    float: left;
  }
  
  article {
    height: 240px;
    width: 90%;
    background: yellow;
    margin: 100px auto 0;
  }
  
  .container {
    overflow: hidden;
    height: 400px;
    margin: auto;
   }
 
  .hclass {
    background: red;
    width: 80%;
    margin: 25px auto 0;
    height: 65px;
  }

  .pclass {
    background: blue;
    width: 80%;
    margin: 10px auto 0;
    height: 65px;
  }

  aside {
    width: 33%;
    float: right;
    height: 600px;
    background: cyan;
  }
  
  footer {
    margin-top: 15px;  
    padding: 35px;
    background: #ccc;
  }